# Created by .ignore support plugin (hsz.mobi)

### ignore main game



### Linux template
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

#*.iml

## Directory-based project format:



# User-specific stuff:
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/dictionaries

# Sensitive or high-churn files:
 .idea/dataSources.ids
 .idea/dataSources.xml
 .idea/sqlDataSources.xml
 .idea/dynamic.xml
 .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


RoboCodeGame/battles/intro.battle
RoboCodeGame/battles/sample.battle
RoboCodeGame/battles/test.battle
RoboCodeGame/compilers/CompilerTest.java
RoboCodeGame/compilers/ecj.jar
RoboCodeGame/config/compiler.properties
RoboCodeGame/config/robocode.properties
RoboCodeGame/config/window.properties
RoboCodeGame/javadoc/allclasses-frame.html
RoboCodeGame/javadoc/allclasses-noframe.html
RoboCodeGame/javadoc/constant-values.html
RoboCodeGame/javadoc/deprecated-list.html
RoboCodeGame/javadoc/help-doc.html
RoboCodeGame/javadoc/index-all.html
RoboCodeGame/javadoc/index.html
RoboCodeGame/javadoc/overview-frame.html
RoboCodeGame/javadoc/overview-summary.html
RoboCodeGame/javadoc/overview-tree.html
RoboCodeGame/javadoc/package-list
RoboCodeGame/javadoc/resources/inherit.gif
RoboCodeGame/javadoc/robocode/AdvancedRobot.html
RoboCodeGame/javadoc/robocode/BattleEndedEvent.html
RoboCodeGame/javadoc/robocode/BattleResults.html
RoboCodeGame/javadoc/robocode/BattleRules.html
RoboCodeGame/javadoc/robocode/BorderSentry.html
RoboCodeGame/javadoc/robocode/Bullet.html
RoboCodeGame/javadoc/robocode/BulletHitBulletEvent.html
RoboCodeGame/javadoc/robocode/BulletHitEvent.html
RoboCodeGame/javadoc/robocode/BulletMissedEvent.html
RoboCodeGame/javadoc/robocode/Condition.html
RoboCodeGame/javadoc/robocode/CustomEvent.html
RoboCodeGame/javadoc/robocode/DeathEvent.html
RoboCodeGame/javadoc/robocode/Droid.html
RoboCodeGame/javadoc/robocode/Event.html
RoboCodeGame/javadoc/robocode/GunTurnCompleteCondition.html
RoboCodeGame/javadoc/robocode/HitByBulletEvent.html
RoboCodeGame/javadoc/robocode/HitRobotEvent.html
RoboCodeGame/javadoc/robocode/HitWallEvent.html
RoboCodeGame/javadoc/robocode/JuniorRobot.html
RoboCodeGame/javadoc/robocode/KeyEvent.html
RoboCodeGame/javadoc/robocode/KeyPressedEvent.html
RoboCodeGame/javadoc/robocode/KeyReleasedEvent.html
RoboCodeGame/javadoc/robocode/KeyTypedEvent.html
RoboCodeGame/javadoc/robocode/MessageEvent.html
RoboCodeGame/javadoc/robocode/MouseClickedEvent.html
RoboCodeGame/javadoc/robocode/MouseDraggedEvent.html
RoboCodeGame/javadoc/robocode/MouseEnteredEvent.html
RoboCodeGame/javadoc/robocode/MouseEvent.html
RoboCodeGame/javadoc/robocode/MouseExitedEvent.html
RoboCodeGame/javadoc/robocode/MouseMovedEvent.html
RoboCodeGame/javadoc/robocode/MousePressedEvent.html
RoboCodeGame/javadoc/robocode/MouseReleasedEvent.html
RoboCodeGame/javadoc/robocode/MouseWheelMovedEvent.html
RoboCodeGame/javadoc/robocode/MoveCompleteCondition.html
RoboCodeGame/javadoc/robocode/PaintEvent.html
RoboCodeGame/javadoc/robocode/RadarTurnCompleteCondition.html
RoboCodeGame/javadoc/robocode/RateControlRobot.html
RoboCodeGame/javadoc/robocode/Robocode.html
RoboCodeGame/javadoc/robocode/RobocodeFileOutputStream.html
RoboCodeGame/javadoc/robocode/RobocodeFileWriter.html
RoboCodeGame/javadoc/robocode/Robot.html
RoboCodeGame/javadoc/robocode/RobotDeathEvent.html
RoboCodeGame/javadoc/robocode/RobotStatus.html
RoboCodeGame/javadoc/robocode/RoundEndedEvent.html
RoboCodeGame/javadoc/robocode/Rules.html
RoboCodeGame/javadoc/robocode/ScannedRobotEvent.html
RoboCodeGame/javadoc/robocode/SkippedTurnEvent.html
RoboCodeGame/javadoc/robocode/StatusEvent.html
RoboCodeGame/javadoc/robocode/TeamRobot.html
RoboCodeGame/javadoc/robocode/TurnCompleteCondition.html
RoboCodeGame/javadoc/robocode/WinEvent.html
RoboCodeGame/javadoc/robocode/_AdvancedRadiansRobot.html
RoboCodeGame/javadoc/robocode/_AdvancedRobot.html
RoboCodeGame/javadoc/robocode/_Robot.html
RoboCodeGame/javadoc/robocode/_RobotBase.html
RoboCodeGame/javadoc/robocode/annotation/SafeStatic.html
RoboCodeGame/javadoc/robocode/annotation/package-frame.html
RoboCodeGame/javadoc/robocode/annotation/package-summary.html
RoboCodeGame/javadoc/robocode/annotation/package-tree.html
RoboCodeGame/javadoc/robocode/control/BattleSpecification.html
RoboCodeGame/javadoc/robocode/control/BattlefieldSpecification.html
RoboCodeGame/javadoc/robocode/control/IRobocodeEngine.html
RoboCodeGame/javadoc/robocode/control/RandomFactory.html
RoboCodeGame/javadoc/robocode/control/RobocodeEngine.html
RoboCodeGame/javadoc/robocode/control/RobocodeListener.html
RoboCodeGame/javadoc/robocode/control/RobotResults.html
RoboCodeGame/javadoc/robocode/control/RobotSetup.html
RoboCodeGame/javadoc/robocode/control/RobotSpecification.html
RoboCodeGame/javadoc/robocode/control/events/BattleAdaptor.html
RoboCodeGame/javadoc/robocode/control/events/BattleCompletedEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleErrorEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleFinishedEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleMessageEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattlePausedEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleResumedEvent.html
RoboCodeGame/javadoc/robocode/control/events/BattleStartedEvent.html
RoboCodeGame/javadoc/robocode/control/events/IBattleListener.html
RoboCodeGame/javadoc/robocode/control/events/RoundEndedEvent.html
RoboCodeGame/javadoc/robocode/control/events/RoundStartedEvent.html
RoboCodeGame/javadoc/robocode/control/events/TurnEndedEvent.html
RoboCodeGame/javadoc/robocode/control/events/TurnStartedEvent.html
RoboCodeGame/javadoc/robocode/control/events/package-frame.html
RoboCodeGame/javadoc/robocode/control/events/package-summary.html
RoboCodeGame/javadoc/robocode/control/events/package-tree.html
RoboCodeGame/javadoc/robocode/control/package-frame.html
RoboCodeGame/javadoc/robocode/control/package-summary.html
RoboCodeGame/javadoc/robocode/control/package-tree.html
RoboCodeGame/javadoc/robocode/control/snapshot/BulletState.html
RoboCodeGame/javadoc/robocode/control/snapshot/IBulletSnapshot.html
RoboCodeGame/javadoc/robocode/control/snapshot/IDebugProperty.html
RoboCodeGame/javadoc/robocode/control/snapshot/IRobotSnapshot.html
RoboCodeGame/javadoc/robocode/control/snapshot/IScoreSnapshot.html
RoboCodeGame/javadoc/robocode/control/snapshot/ITurnSnapshot.html
RoboCodeGame/javadoc/robocode/control/snapshot/RobotState.html
RoboCodeGame/javadoc/robocode/control/snapshot/package-frame.html
RoboCodeGame/javadoc/robocode/control/snapshot/package-summary.html
RoboCodeGame/javadoc/robocode/control/snapshot/package-tree.html
RoboCodeGame/javadoc/robocode/package-frame.html
RoboCodeGame/javadoc/robocode/package-summary.html
RoboCodeGame/javadoc/robocode/package-tree.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IAdvancedEvents.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IAdvancedRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IBasicEvents.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IBasicEvents2.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IBasicEvents3.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IBasicRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IInteractiveEvents.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IInteractiveRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IJuniorRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IPaintEvents.html
RoboCodeGame/javadoc/robocode/robotinterfaces/IPaintRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/ITeamEvents.html
RoboCodeGame/javadoc/robocode/robotinterfaces/ITeamRobot.html
RoboCodeGame/javadoc/robocode/robotinterfaces/package-frame.html
RoboCodeGame/javadoc/robocode/robotinterfaces/package-summary.html
RoboCodeGame/javadoc/robocode/robotinterfaces/package-tree.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/IAdvancedRobotPeer.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/IBasicRobotPeer.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/IJuniorRobotPeer.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/IStandardRobotPeer.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/ITeamRobotPeer.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/package-frame.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/package-summary.html
RoboCodeGame/javadoc/robocode/robotinterfaces/peer/package-tree.html
RoboCodeGame/javadoc/robocode/util/Utils.html
RoboCodeGame/javadoc/robocode/util/package-frame.html
RoboCodeGame/javadoc/robocode/util/package-summary.html
RoboCodeGame/javadoc/robocode/util/package-tree.html
RoboCodeGame/javadoc/serialized-form.html
RoboCodeGame/javadoc/stylesheet.css
RoboCodeGame/libs/codesize-1.1.jar
RoboCodeGame/libs/picocontainer-2.14.2.jar
RoboCodeGame/libs/robocode.battle-1.9.2.4.jar
RoboCodeGame/libs/robocode.core-1.9.2.4.jar
RoboCodeGame/libs/robocode.host-1.9.2.4.jar
RoboCodeGame/libs/robocode.jar
RoboCodeGame/libs/robocode.repository-1.9.2.4.jar
RoboCodeGame/libs/robocode.sound-1.9.2.4.jar
RoboCodeGame/libs/robocode.ui-1.9.2.4.jar
RoboCodeGame/libs/robocode.ui.editor-1.9.2.4.jar
RoboCodeGame/libs/roborumble.jar
RoboCodeGame/license/epl-v10.html
RoboCodeGame/meleerumble.bat
RoboCodeGame/robocode.bat
RoboCodeGame/robocode.ico
RoboCodeGame/roborumble.bat
RoboCodeGame/roborumble.ico
RoboCodeGame/roborumble/meleerumble.txt
RoboCodeGame/roborumble/roborumble.properties
RoboCodeGame/roborumble/roborumble.txt
RoboCodeGame/roborumble/teamrumble.txt
RoboCodeGame/roborumble/twinduel.txt
RoboCodeGame/robots/META-INF/MANIFEST.MF
RoboCodeGame/robots/robot.database
RoboCodeGame/robots/sample/Corners.java
RoboCodeGame/robots/sample/Corners.properties
RoboCodeGame/robots/sample/Crazy.java
RoboCodeGame/robots/sample/Crazy.properties
RoboCodeGame/robots/sample/Fire.java
RoboCodeGame/robots/sample/Fire.properties
RoboCodeGame/robots/sample/Interactive.java
RoboCodeGame/robots/sample/Interactive.properties
RoboCodeGame/robots/sample/Interactive_v2.java
RoboCodeGame/robots/sample/Interactive_v2.properties
RoboCodeGame/robots/sample/MyFirstJuniorRobot.java
RoboCodeGame/robots/sample/MyFirstJuniorRobot.properties
RoboCodeGame/robots/sample/MyFirstRobot.java
RoboCodeGame/robots/sample/MyFirstRobot.properties
RoboCodeGame/robots/sample/PaintingRobot.java
RoboCodeGame/robots/sample/PaintingRobot.properties
RoboCodeGame/robots/sample/RamFire.java
RoboCodeGame/robots/sample/RamFire.properties
RoboCodeGame/robots/sample/SittingDuck.data/count.dat
RoboCodeGame/robots/sample/SittingDuck.java
RoboCodeGame/robots/sample/SittingDuck.properties
RoboCodeGame/robots/sample/SpinBot.java
RoboCodeGame/robots/sample/SpinBot.properties
RoboCodeGame/robots/sample/Target.java
RoboCodeGame/robots/sample/Target.properties
RoboCodeGame/robots/sample/TrackFire.java
RoboCodeGame/robots/sample/TrackFire.properties
RoboCodeGame/robots/sample/Tracker.java
RoboCodeGame/robots/sample/Tracker.properties
RoboCodeGame/robots/sample/VelociRobot.java
RoboCodeGame/robots/sample/VelociRobot.properties
RoboCodeGame/robots/sample/Walls.java
RoboCodeGame/robots/sample/Walls.properties
RoboCodeGame/robots/sampleex/Alien.java
RoboCodeGame/robots/sampleex/Alien.properties
RoboCodeGame/robots/sampleex/AlienComposition.java
RoboCodeGame/robots/sampleex/MasterAndSlave.java
RoboCodeGame/robots/sampleex/MasterAndSlave.properties
RoboCodeGame/robots/sampleex/ProxyOfGreyEminence.java
RoboCodeGame/robots/sampleex/ProxyOfGreyEminence.properties
RoboCodeGame/robots/sampleex/RegullarMonk.java
RoboCodeGame/robots/sampleex/Slave.java
RoboCodeGame/robots/samplesentry/BorderGuard.java
RoboCodeGame/robots/samplesentry/BorderGuard.properties
RoboCodeGame/robots/sampleteam/MyFirstDroid.java
RoboCodeGame/robots/sampleteam/MyFirstLeader.java
RoboCodeGame/robots/sampleteam/MyFirstTeam.team
RoboCodeGame/robots/sampleteam/Point.java
RoboCodeGame/robots/sampleteam/RobotColors.java
RoboCodeGame/teamrumble.bat
RoboCodeGame/templates/newjavafile.tpt
RoboCodeGame/templates/newjuniorrobot.tpt
RoboCodeGame/templates/newrobot.tpt
RoboCodeGame/theme/editor/Robocode Black Theme.properties
RoboCodeGame/theme/editor/Robocode White Theme.properties
RoboCodeGame/ReadMe.html
RoboCodeGame/ReadMe.txt
RoboCodeGame/twinduel.bat
RoboCodeGame/versions.md
.idea/
